<div fxLayout="100" class="create-outer-container">
    <div class="create-inner-container mat-elevation-z1">

        
        <form [formGroup]="productFormAdmin" (ngSubmit)="save()" class="h-full">
            <mat-card-header>
                <mat-card-title>{{'form.newproduct' | translate}}</mat-card-title>
            </mat-card-header>

            <mat-card-content>

                <div class="inputrow">
                    <mat-form-field fxFlex>
                        <input matInput type="text" color="primary" placeholder="{{'table.products.ownername' | translate}}"
                            formControlName="ownername" name="owner-name" [matAutocomplete]="auto" required >
                            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                <mat-option *ngFor="let producer of producers" [value]="producer.login">
                                    {{producer.login}}
                                </mat-option>
                            </mat-autocomplete>
                        <mat-error>{{'namerequired' | translate}}</mat-error>
                    </mat-form-field>
                </div>

                <div class="inputrow">
                    <mat-form-field fxFlex>
                        <input matInput type="text" color="primary" placeholder="{{'table.products.name' | translate}}"
                            formControlName="name" name="product-name" required />
                        <mat-error>{{'namerequired' | translate}}</mat-error>
                    </mat-form-field>
                </div>

                <div class="inputrow">
                    <mat-form-field fxFlex>
                        <input matInput type="text" color="primary" placeholder="{{'table.products.typeProd'| translate}}"
                            formControlName="typeProd" name="typeProd" />
                    </mat-form-field>
                </div>

                <div class="inputrow">
                    <mat-form-field fxFlex>
                        <input matInput min="1" type="number" color="primary" placeholder="{{'table.products.quantity' | translate}}"
                            formControlName="quantity" name="product-quantity" required />
                        <mat-error>{{'quantityrequired' | translate}}</mat-error>
                    </mat-form-field>
                </div>

                <div class="inputrow">
                    <mat-form-field fxFlex>
                        <mat-label>{{'table.products.description' | translate}}</mat-label>
                        <mat-select required formControlName="description">
                            <mat-option *ngFor="let category of categories" [value]="category.value">
                                {{category.value}}
                            </mat-option>
                        </mat-select>
                        <mat-error>{{'descriptionrequired' | translate}}</mat-error>
                    </mat-form-field>
                </div>

                <div class="inputrow">
                    <mat-form-field fxFlex>
                        <input matInput type="number" color="primary" placeholder="{{'table.products.price' | translate}}"
                            formControlName="price" min="0" name="product-quantity" required />
                        <mat-error>{{'pricerequired' | translate}}</mat-error>
                    </mat-form-field>
                </div>

            </mat-card-content>

            <mat-card-actions>
                <div fclass="input-row" xLayoutGap="20px" fxLayoutAlign="center center">

                    <button class="myClass" fxFlex="25" fxFlex.xs="30" mat-raised-button type="submit"
                        [disabled]="!productFormAdmin.valid">{{'button.save' | translate}}</button>
                    <button class="cancel" fxFlex="25" fxFlex.xs="30" mat-raised-button type="button" (click)="cancel()"
                        [formNoValidate]="true">{{'button.cancel' |
                        translate}}</button>
                </div>
            </mat-card-actions>
        </form>
    </div>
</div>