<!-- <img src="./assets/images/veg-logo.png" alt="Logo" />
<h2 style="text-align: center"> {{ 'main.welcome' | translate }} </h2> -->
<!--
<ngx-charts-bar-vertical
    [view]="[1000,400]"
    [results]="saleData"
    [xAxisLabel]="'Meses'"
    [legendTitle]="'Ingresos por meses'"
    [yAxisLabel]="'Ingresos (€)'"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [gradient]="true">
</ngx-charts-bar-vertical>
-->

<h2>{{'total-products' | translate}}</h2>
<br>

<div>
<div id="chartdiv"></div>
</div>
