<h3> {{'sections-title.product-grid' | translate}}</h3>
<div class="content">
    <div class="content">
        <div class='filters' fxflex fxLayout="row wrap">
            <mat-form-field class="filters">
                <input matInput type="text" placeholder="{{ 'table.users.city' | translate }}" #input (input)="readCities()"
                    id="show-product-client-filter" [formControl]="myControl" name="show-product-client-filter" [matAutocomplete]="auto" />
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let city of filteredOptions | async" [value]="city" (click)="readCities()">
                        {{city}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <div class="category">
                <mat-select #category name="types" placeholder="{{'table.products.typeProd' | translate}}">
                    <mat-option *ngFor="let category of categories" [value]="category.value"
                        (click)="readCategorys(category.viewValue)" >
                        {{("table.products.category." + category.viewValue) | translate}}
                    </mat-option>
                </mat-select>
            </div>
            <div class="category">
                <mat-select #producer name="producer"  placeholder="{{'table.products.producer' | translate}}">
                    <mat-option *ngFor="let producer of producers" style="text-transform: capitalize" [value]="producer" (click)="readProducer(producer)">
                        {{producer | translate}}
                    </mat-option>
                </mat-select>
            </div>
            <div class="category">
                <mat-select #sort name="sort" placeholder="{{'table.products.sortBy' | translate}}">
                    <mat-option *ngFor="let sort of this.sorting" [value]="sort.value" (click)="sortGrid(sort.value)">
                        {{("table.products.sort." + sort.viewValue) | translate}}
                    </mat-option>
                </mat-select>
            </div>
        </div>
        <div class="gallery" fxLayout="row wrap" fxLayoutGap="20px grid" fxLayoutAlign="start center">
            <div class="prueba" fxFlex='250px' style="text-transform: capitalize" *ngFor="let element of this.products" (click)="showDetails(element.id)">
                <mat-card class="mat-elevation-z4">
                    <mat-card-header fxLayout="column" width="100%" fxLayoutAlign="center center">
                        <mat-card-title>
                            <p class="title">{{element.name}}</p>
                        </mat-card-title>
                        <mat-card-subtitle fxLayout="column" width="100%" >
                            <p class="subtitle"><mat-icon>store</mat-icon>{{element.user.login}}</p>
                            <p class="subtitle"><mat-icon>place</mat-icon>{{element.user.city}}</p>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src={{element.image}} height="200px">
                    <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                        {{element.price}}
                        €/{{("table.products.description-type." + element.description) | translate}}
                    </mat-card-content>
                    <mat-card-actions fxLayout="row">
                        <button mat-button id="contact" fxFlex fxLayoutAlign="center center" (click)="contact(element.user.email, element.name, element.id);$event.stopPropagation()">
                            <mat-icon>email</mat-icon>&nbsp;{{'table.products.email-book'|translate}}
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
        <mat-card *ngIf="dataSource.loading$ | async"
            style="display: flex; justify-content: center; align-items: center">
            <mat-spinner></mat-spinner>
        </mat-card>
        <mat-paginator [length]="dataSource.totalElements" [pageSize]="10" [pageSizeOptions]="[10, 20, 50, 100]"
            showFirstLastButtons>
        </mat-paginator>
    </div>