img.img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin: 20px;
}

.titleText {
    font-weight: bold;
    font-size: x-large;
}

div.productDetail {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.producerDetails>.inputrow {
    font-size: large;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}


div.product {
    display: inline-block;
    flex-grow: 1.5;
    margin: 0 5vw;
}

span.quantity {
    color: red;
}

label {
    font-weight: bold;
}

.inputrow {
    font-size: large;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.widthDetails {
    width: 60%;
}

.inputrow.title {
    font-weight: bold;
    justify-content: center;
    font-size: x-large;
}

mat-card-actions.mat-card-action {
    margin: 15px;
}

button {
    margin: 20px;
    background-color: #bfedff;
    border-style: solid;
    border-width: 3px;
    border-color: #bfedff;
    flex-shrink: 1.5;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

button.mat-button:hover {
    border-style: solid;
    border-width: 3px;
    border-color: #bfedff;
    background-color: #bfedff;
}

.withLogo {
    display: flex;
    align-items: center;
}

.withLogo1 {
    font-weight: bold;
    font-size: x-large;
}

div.producerDetails {
    margin: 20px;
}

.producerSuggestions {
    margin: 20px;
    margin-top: 40px;
}

div.productSuggestions {
    display: flex;
    justify-content: start;
    overflow-x: scroll;

    .content {
        padding: 16px;
    }

    button {
        background-color: #bfedff;
        box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 10%), 0px 2px 2px 0px rgb(0 0 0 / 10%), 0px 1px 5px 0px rgb(0 0 0 / 10%);

    }

    mat-card-title {
        min-height: 3em;
        display: flex;
        justify-items: center;
        align-items: center;
        justify-content: center;
    }

    .mat-card-header-text {
        width: 100%;
    }

    // button.mat-button[id='details'] {
    //     margin-bottom:10px;
    //     background-color: white;
    //     border-style: solid;
    //     // border-width: 3px;
    //     border-color: #bfedff;
    // }

    // button.mat-button[id='details']:hover{
    //     background-color: #bfedff;
    //     border-width: 5px;
    // }

    button.mat-button {
        border-style: none;
    }

    button.mat-button:hover {
        border-style: solid;
        border-color: #bfedff;
        background-color: white;
    }

    div.prueba {
        width: 150px;
        margin: 20px;
    }

    img {
        height: 200px;
    }
}

div.input-row.container {
    display: flex;
    justify-content: center;
    text-transform: capitalize;


    mat-card {
        max-width: 70vw;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

div.prueba>mat-card:hover {
    -webkit-transform: scale(1.05);
    border-style: solid;
    border-color: #bfedff;
    cursor: pointer;
}