img.img {
    border-radius: 50%;
    width: 250px;
    margin: 20px;
}

div.productDetail {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.producerDetails>.inputrow {
    font-size: large;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}


div.product {
    display: inline-block;
    flex-grow: 1.5;
    margin: 0 5vw;
}

span.quantity {
    color: red;
}

label {
    font-weight: bold;
}

.inputrow {
    font-size: large;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.inputrow.title {
    font-weight: bold;
    justify-content: center;
}

button {
    margin: 20px;
    background-color: #bfedff;
    border-style: solid;
    border-width: 3px;
    border-color: #bfedff;
    flex-shrink: 1.5;
}

button.mat-button:hover {
    border-style: solid;
    border-width: 3px;
    border-color: #bfedff;
    background-color: #bfedff;
}

.withLogo {
    display: flex;
    align-items: center;
}

div.producerDetails {
    margin: 20px;
}
.producerSuggestions {
    margin: 20px;
    margin-top: 40px;
}

div.productSuggestions {
    display: flex;
    justify-content: space-evenly;
    overflow-x: scroll;

    .content {
        padding: 16px;
    }
    
    button{
        background-color: #bfedff;
    }
    
    mat-card-title {
        text-align: center;
    }
    
    .mat-card-header-text{
        width: 100%;
    }
    
    button.mat-button[id='details'] {
        margin-bottom:10px;
        background-color: white;
        border-style: solid;
        border-width: 3px;
        border-color: #bfedff;
    }
    
    button.mat-button[id='details']:hover{
        background-color: #bfedff;
        border-width: 5px;
    }
    
    button.mat-button:hover {
        border-style: solid;
        border-width: 3px;
        border-color: #bfedff;
    }
    div.prueba{
        width: 250px;
        margin: 20px;
    }
}

div.input-row.container{
    display: flex;
    justify-content: center;
    mat-card {
        max-width: 70vw;
        margin-top: 2vh;
        margin-bottom: 5vh;
    }
}
