<div fxLayout="column" fxLayoutGap="20px">
    <div class="input-row container">
        <mat-card>
            <mat-card-header>
                <mat-card-title class="titleText">
                    <span> <mat-icon class='back' (click)="goBack()">arrow_back</mat-icon>{{'menu.product_details' | translate }}</span>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="productDetail">
                    <span><img class="img" mat-card-image src={{this.product.image}}></span>
                    <div fxFlex fxLayout="column wrap" fxLayoutAlign="center center">
                        <div class="product">
                            <div class="inputrow title">{{this.product.name}}</div>
                            <div class="inputrow">
                                <label for="quantity">{{"table.products.stock" | translate}}:&nbsp;</label>
                                <span class="quantity"> {{this.product.quantity}} {{"table.products.description-units."+
                                    this.product.description | translate}}</span>
                            </div>
                            <div class="inputrow">
                                <label for="typeProd">{{"table.products.typeProd" | translate}}:&nbsp;</label>
                                <span class="typeProd">{{"table.products.category."+ this.product.typeProd |
                                    translate}}</span>
                            </div>
                            <div class="inputrow">
                                <label for="price">{{"table.products.price" | translate}}:&nbsp;</label>
                                <span class="precio"> {{this.product.price}}
                                    €/{{("table.products.description-type." + this.product.description) |
                                    translate}}</span>
                            </div>
                            <div class="inputrow"> <label for="a"></label><span name="a"> </span></div>
                        </div>
                        <button mat-button id="contact" (click)="contact(product.user.email, product.name, product.id)">
                            <mat-icon>email</mat-icon>&nbsp;{{'table.products.email-book'|translate}}
                        </button>
                    </div>
                </div>
                <div class="widthDetails">
                    <div class="producerDetails">
                        <h2 class="withLogo">
                            <mat-icon>store</mat-icon>
                            <span>&nbsp;{{this.producer.login}}</span>
                        </h2>
                        <div class="inputrow">
                            <div *ngIf="this.producer.city != null" class="withLogo">
                                <mat-icon> location_on</mat-icon>
                                <span class="user-city">&nbsp;&nbsp;{{this.producer.city}}</span>
                            </div>
                            <div *ngIf="this.producer.zip != null" class="withLogo">
                                <mat-icon> directions</mat-icon>
                                <span class="user-zip">&nbsp;&nbsp;{{this.producer.zip}}</span>
                            </div>
                        </div>
                        <div class="inputrow">
                            <div *ngIf="this.producer.email != null">
                                <span class="user-email withLogo" style="text-transform: lowercase;">
                                    <mat-icon>email</mat-icon>&nbsp;&nbsp;{{this.producer.email}}
                                </span>
                            </div>
                            <div *ngIf="this.producer.phone != null">
                                <span class="user-phone withLogo">
                                    <mat-icon>phone</mat-icon>&nbsp;&nbsp;{{this.producer.phone}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="producerSuggestions" *ngIf="sgt; else elseBlock">
                    <mat-card-title class="withLogo1">
                        <span>{{"table.users.suggestions" | translate}}&nbsp;{{this.producer.login}}</span>
                    </mat-card-title>
                    <div class="productSuggestions">
                        <div class="prueba" fxFlex='250px' *ngFor="let productSg of suggestions"
                            (click)="showDetails(productSg.id)">
                            <mat-card class="mat-elevation-z4">
                                <mat-card-header fxLayout="column" width="100%" fxLayoutAlign="center center">
                                    <mat-card-title class="prod-cards">
                                        <p class="title">{{productSg.name}}</p>
                                    </mat-card-title>
                                </mat-card-header>
                                <img mat-card-image src={{this.productSg.image}}>
                                <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                                    {{productSg.price}}
                                    €/{{("table.products.description-type." + productSg.description) | translate}}
                                </mat-card-content>
                                <mat-card-actions fxLayout="column">
                                    <button mat-button
                                        (click)="contact(productSg.user.email, product.name, product.id);$event.stopPropagation()">
                                        <mat-icon>email</mat-icon>&nbsp;{{'table.products.email-book'|translate}}
                                    </button>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </div>
                <ng-template #elseBlock>
                    <h2 class="suggestionsElse">{{this.producer.login}} <span
                            style="text-transform: none;">{{"table.users.noSuggestions" |
                            translate}}</span></h2>
                </ng-template>
                <div class="btn-cont">
                    <button class="delete-btn" (click)="goBack()" [style]="" mat-raised-button>
                        <mat-icon>keyboard_backspace</mat-icon> {{ "button.go_back" | translate }}
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>