<div fxLayout="100" class="create-outer-container">
    <div class="create-inner-container mat-elevation-z1">
        
        <form [formGroup]="productForm" (ngSubmit)="save()" class="h-full">
            <mat-card-header>
                <mat-card-title><mat-icon class='back' onclick="history.back()">arrow_back</mat-icon>{{'form.newproduct' | translate}}</mat-card-title>
            </mat-card-header>

            <mat-card-content>

                <div class="inputrow">
                    <mat-form-field fxFlex>
                        <input matInput type="text" color="primary" placeholder="{{'table.products.name' | translate}}"
                            formControlName="name" name="product-name" required />
                        <mat-error>{{'namerequired' | translate}}</mat-error>
                    </mat-form-field>
                </div>

                <div class="inputrow">
                    <mat-form-field fxFlex>
                        <mat-label>{{'table.products.typeProd' | translate}}</mat-label>
                        <mat-select required formControlName="typeProd">
                            <mat-option *ngFor="let tipo of tipos" [value]="tipo.value">
                                {{("table.products.category." + tipo.viewValue) | translate}}
                            </mat-option>
                        </mat-select>
                        <mat-error>{{'typeprodrequired' | translate}}</mat-error>
                    </mat-form-field>
                </div>

                <div class="inputrow prod-quantity">
                    <mat-form-field fxFlex>
                        <input matInput min="1" type="number" color="primary"
                            placeholder="{{'table.products.quantity' | translate}}" formControlName="quantity"
                            name="product-quantity" required />
                        <mat-error>{{'quantityrequired' | translate}}</mat-error>
                    </mat-form-field>
                </div>

                <div class="inputrow prod-units">
                    <mat-form-field fxFlex>
                        <mat-label>{{'table.products.description' | translate}}</mat-label>
                        <mat-select required formControlName="description">
                            <mat-option *ngFor="let category of categories" [value]="category.value">
                                {{('table.products.description-units.'+category.viewValue) | translate}}
                            </mat-option>
                        </mat-select>
                        <mat-error>{{'descriptionrequired' | translate}}</mat-error>
                    </mat-form-field>
                </div>

                <div class="inputrow">
                    <mat-form-field fxFlex>
                        <input matInput type="number" color="primary"
                            placeholder="{{'table.products.price' | translate}}" formControlName="price" min="0"
                            name="product-price" required />
                        <mat-error>{{'pricerequired' | translate}}</mat-error>
                    </mat-form-field>
                </div>

                <div class="inputrow">
                    <span class="img-cont"><img class="img" *ngIf="this.imgURL != ''" id="imagen" mat-card-image
                            src={{this.imgURL}}></span>
                    <mat-form-field>
                        <input matInput hidden />
                        <input class="MyClass" type="file" id="fileInput" name="fileInput" accept="image/*"
                            (change)="selectFiles($event)" />
                    </mat-form-field>
                </div>
            </mat-card-content>

            <mat-card-actions>
                <div fclass="input-row" xLayoutGap="20px" fxLayoutAlign="center center" fxLayout="column">
                    <button class="myClass" fxFlex="25" fxFlex.xs="30" mat-raised-button type="submit"
                        [disabled]="!productForm.valid">{{'button.save' | translate}}</button>
                    <button class="cancel" fxFlex="25" fxFlex.xs="30" mat-raised-button type="button" (click)="cancel()"
                        [formNoValidate]="true">{{'button.cancel' | translate}}</button>
                </div>
            </mat-card-actions>
        </form>
    </div>
</div>