
.create-outer-container {
    margin: 8px;
    
    div.header {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        max-width: 600px;

        h3 {
            font-size: 1.5em;
            margin: 5px auto;
            overflow:hidden;
        }
        .backButton{
            align-self: flex-start;
        }

    }

    mat-paginator.mat-paginator {
        margin-bottom: 10vh;
    }

    .create-inner-container {
        box-sizing: content-box;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        
        min-width: 425px;
        padding: 1em;
        background-color: #FFFFFF;
        
        display: flex;
        flex-direction: column;
        align-items: stretch;
        align-content: space-between;
        justify-content: space-evenly;

        form {
            margin: 0 auto;
            margin-top: 1vh;
            width: 100%;
            top: -75px;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 600px;

            mat-card-content{
                display: flex;
                flex-direction: column;
                align-items: center;
                width:100%;
                max-width: 600px;;

                div.inputrow {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    max-width: 600px;
                }
                
                mat-card-actions {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    max-width: 600px;

                    button {
                        width: 100%;
                        max-width: 600px;
                        margin: 1em auto;
                    }
                }
            }


            mat-form-field {
                margin: 10px;
            }


            .myClass {
                background-color: #bfedff;
                color: black;
            }
            
            .cancel {
                background-color: #fdd4ce;
            }
        
        }

    }

    div.products{
        margin: 0 auto;
        width:100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;

        h3.section-title{
            font-size: 1.5em;
            margin: 5px auto;
        }

        .upper-menu {
            margin-bottom:10px;
            flex-direction: row;
            box-sizing: border-box;
            display: flex;
            max-height: 100%;
            place-content: space-between;
            align-items: center;

            button{
                margin-right: 10px;
            }
        }

        .check-cell{
            padding: 15px;
        }
        .nopadding-cell{
            padding: 0 ;
        }
        .small-cell{
            min-width: 50px;
            max-width: 50px;
        }
        .large-cell{
            min-width: 100px;
        }
    }
}



@media (min-width: 450px) {
    .create-outer-container {
        .create-inner-container {
            width: 60vw;
            padding-right: 5em;
            padding-left: 5em;

            form{
                mat-card-content{
                    div.inputrow.form-fields {
                        display: flex;
                        flex-direction: row;
                        justify-content:space-between;

                        mat-form-field.vshort-field{
                            min-width: 50px;
                            max-width: 100px;
                            flex-grow: 0;
                        }
                        mat-form-field.short-field{
                            min-width: 50px;
                            max-width: 150px;
                            flex-grow: 1;
                        }
                        mat-form-field.large-field{
                            flex-grow: 3;
                        }
                    }
                }
            }
        }
    }
}