<div fxLayout="100" class="create-outer-container">
    <div class="create-inner-container mat-elevation-z1">
        <form [formGroup]="producerFormAdmin" (ngSubmit)="save()" class="h-full">
            <mat-card-header>
                <mat-card-title>
                    <mat-icon class='back' onclick="history.back()">arrow_back</mat-icon>{{'form.newproducer' |
                    translate}}
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="inputrow">
                    <mat-form-field fxFlex>
                        <input matInput type="text" color="primary" placeholder="{{'table.users.login' | translate}}"
                            formControlName="login" name="user-login" [value]="this.user.login" required />
                        <mat-error>{{'loginrequired' | translate}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="inputrow">
                    <mat-form-field fxFlex>
                        <input matInput type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" color="primary"
                            placeholder="{{'table.users.email' | translate}}" required formControlName="email"
                            name="user-email" />
                        <mat-error *ngIf="producerFormAdmin.get('email').hasError('required')">{{'emailrequired' |
                            translate}}</mat-error>
                        <mat-error *ngIf="producerFormAdmin.get('email').hasError('pattern')">{{'emailpattern' |
                            translate}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="inputrow">
                    <mat-form-field fxFlex>
                        <input matInput type="password" color="primary"
                            placeholder="{{'table.users.password' | translate}}" formControlName="password"
                            name="user-password" required />
                        <mat-error>{{'passwordrequired' | translate}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="inputrow">
                    <mat-form-field fxFlex>
                        <input matInput type="password" color="primary"
                            placeholder="{{'table.users.confirmPassword' | translate}}"
                            formControlName="confirmPassword" name="user-confirm-password" required />
                        <mat-error *ngIf="producerFormAdmin.get('confirmPassword').hasError('required')">
                            {{'passconfirmrequired' | translate}}</mat-error>
                        <mat-error
                            *ngIf="producerFormAdmin.get('confirmPassword').hasError('confirmPasswordValidator')">
                            {{'passdoesnotmatch' | translate}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="inputrow">
                    <mat-form-field fxFlex>
                        <input matInput type="text" color="primary" placeholder="{{'table.users.nif' | translate}}"
                            formControlName="nif" name="user-nif" [value]="this.user.nif" />
                        <mat-error>{{'nifpattern' | translate}}</mat-error>

                    </mat-form-field>
                </div>
                <div class="inputrow">
                    <mat-form-field fxFlex>
                        <input matInput type="text" color="primary" placeholder="{{'table.users.name' | translate}}"
                            formControlName="name" name="user-name" />
                    </mat-form-field>
                </div>
                <div class="inputrow">
                    <mat-form-field fxFlex>
                        <input matInput type="text" color="primary" placeholder="{{'table.users.surname' | translate}}"
                            formControlName="surname" name="user-surname" />
                    </mat-form-field>
                </div>
                <div class="inputrow">
                    <mat-form-field fxFlex>
                        <input matInput type="text" color="primary" placeholder="{{'table.users.phone' | translate}}"
                            formControlName="phone" name="user-phone" />
                    </mat-form-field>
                </div>
                <div class="inputrow">
                    <mat-form-field fxFlex>
                        <input matInput type="text" color="primary" placeholder="{{'table.users.address' | translate}}"
                            formControlName="address" name="user-address" />
                    </mat-form-field>
                </div>
                <div class="inputrow">
                    <mat-form-field fxFlex>
                        <input matInput type="text" color="primary" placeholder="{{'table.users.city' | translate}}"
                            formControlName="city" name="user-city" required/>
                            <mat-error>{{'cityrequired' | translate}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="inputrow">
                    <mat-form-field fxFlex>
                        <input matInput type="text" color="primary" placeholder="{{'table.users.zip' | translate}}"
                            formControlName="zip" name="user-zip" />
                    </mat-form-field>
                </div>
            </mat-card-content>

            <mat-card-actions>
                <div fclass="input-row" xLayoutGap="20px" fxLayoutAlign="center center">

                    <button class="myClass" fxFlex="25" fxFlex.xs="30" mat-raised-button type="submit"
                        [disabled]="!producerFormAdmin.valid">
                        <mat-icon>save</mat-icon>&nbsp;{{'button.save' | translate}}
                    </button>
                    <button class="cancel" fxFlex="25" fxFlex.xs="30" mat-raised-button type="button" (click)="cancel()"
                        [formNoValidate]="true">
                        <mat-icon>cancel</mat-icon>&nbsp;{{'button.cancel' |
                        translate}}
                    </button>
                </div>
            </mat-card-actions>
        </form>
    </div>
</div>