<div class="offMargin">
    <div class="frontal">
        <div class="intro">
            <h3>De la tierra a la mesa</h3>
            <p>Nuestro objetivo es eliminar el desperdicio de alimentos,
                mientras ofrecemos producto de calidad y proximidad de pequeños agricultores.
                Aquí podrás encontrar productos naturales de todo tipo,
                a precios similares o inferiores a las fruterías y supermercados,
                contactando directamente con los propios productores.</p>
            <button class="myClass" color="primary" mat-raised-butto class="access" name ="access" type="button" (click) = "acceder()">Acceder</button>
        </div>
        <img id="logo" src="../../../assets/images/veg-logo.png" alt="logo" srcset="">
    </div>
    
    <div class="points">
        <div class="icons">
            <img id ="ruta" src="../../../assets/images/path_icon.svg" alt="icono cercania" srcset="">
            <h4>Cercano</h4>
        </div>
        <div class="icons">
            <img id="cali" src="../../../assets/images/plant_icon.svg" alt="icono calidad" srcset="">
            <h4>Natural y de calidad</h4>
        </div>
        <div class="icons">
            <img id ="prec" src="../../../assets/images/euro_icon.svg" alt="icono precio" srcset="">
            <h4>Económico</h4>
        </div>
    </div>
</div>

