<div class="frontal">
    <img id = "fondo" src="" alt="" srcset="">
    <h3>De la tierra a la mesa</h3>
    <p>Nuestro objetivo es eliminar el desperdicio de alimentos, mientras ofrecemos producto de calidad y proximidad de pequeños agricultores. Aquí podrás encontrar productos naturales de todo tipo, a precios similares o inferiores a las fruterías y supermercados, contactando directamente con los propios productores.</p>
    <img id="logo" src="" alt="" srcset="">
</div>

<div class="points">
    <div>
        <img id ="ruta" src="" alt="" srcset="">
        <p></p>
    </div>  
    <div>
        <img id="cali" src="" alt="" srcset="">
        <p></p>
    </div>  
    <div>
        <img id ="prec" src="" alt="" srcset="">
        <p></p>
    </div>  
</div>

<div class="boton">
    <button class="access"name ="access" type="button" (click) = "acceder()">Acceder</button>
</div>